{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaX Todo App {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
<nav class="row p-3" style="background-color: darkgray;">
    <div class="col-4">
        <h2><a style="text-decoration: none; color: black;" href='/'>Main menu</a></h2>
    </div>

    <div class="col-4 d-flex justify-content-center align-items-center">
        {% if request.user.is_authenticated %}
            <h4>Hello Dear {{ request.user }}</h4>
        {% else %}
            <a class="btn btn-success mx-2" href="{% url 'Login' %}">Login!</a>
            <a class="btn btn-success mx-2" href="{% url 'Signup' %}">Signup!</a>
        {% endif %}
    </div>

    <div class="col-4 d-flex justify-content-around align-items-center">
        {% if request.user.is_authenticated %}
        <a class="btn btn-danger" href="{% url 'Logout' %}">Log Out!</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'TaskCreate' %}">Create Task!</a>
    </div>
</nav>
<main class="container mt-3">
    {% block content %}{% endblock %}
</main>
</body>
</html>